@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Raleway", sans-serif;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

.container {
  width: 117rem;
  margin: 0 auto;
  height: 100%;
  padding-left: 3rem;
  padding-right: 3rem;

  @include respond(lg) {
    width: 97rem;
  }
  @include respond(md) {
    width: 75rem;
  }
  @include respond(sm) {
    width: 100%;
  }
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}
