.contact {
  .information {
    position: relative;
  }

  .map {
    height: 100rem;
  }

  &__content {
    position: absolute;
    top: 3rem;
    right: 3rem;
    background-color: white;
    padding: 5rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
}
