.contact {
  .information {
    position: relative;
    display: grid;
    grid-template-columns: 3fr 2fr;
  }

  .map {
    height: 100rem;
  }

  &__content {
    background-color: white;
    padding: 5rem;
    box-shadow: 5px 0 5px -5px #333;
  }
}
