.home {
  .quotes {
    .container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-items: center;
      padding-top: 5rem;
      padding-bottom: 5rem;
      column-gap: 2.5rem;
    }
  }

  .explore {
    .container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 48.8rem 30rem;
      row-gap: 3rem;
      column-gap: 3rem;
    }
  }
}
