.example-blog {
  text-align: justify;
  .container {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
  .heading-2 {
    margin-bottom: 3rem;

    &:not(:first-child) {
      margin-top: 6rem;
    }
  }

  p {
    font-size: 2rem;
    margin-bottom: 3rem;
    line-height: 1.6;
  }

  ul {
    list-style: none;
    margin-top: 1rem;
  }

  li {
    padding-left: 1em;
    text-indent: -0.7em;
  }

  li::before {
    content: "\2022";
    color: $color-primary;
    padding-right: 1rem;
  }

  &__img {
    display: block;
    margin: 0 auto;
  }

  &__amazon {
    width: 40%;
  }

  &__pepsi {
    width: 80%;
    display: block;
    margin-bottom: 10rem;
  }
}
