.header {
  height: 80rem;
  background-color: red;
  background-position: center;
  background-size: cover;
  color: $color-white;

  .container {
    display: flex;
    align-items: center;
  }

  &__content {
    width: 48rem;
  }

  &__title {
    margin-bottom: 1rem;
    text-transform: uppercase;
  }

  &__description {
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: 3rem;
  }
}
