.footer {
  background-color: $color-grey;
  font-size: 1.4rem;

  .container {
    display: flex;
    justify-content: space-between;
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  &__subtitle {
    text-transform: uppercase;
    color: $color-primary;
    font-weight: bold;
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
  }

  &__slogan {
    color: $color-primary;
    text-transform: uppercase;
    font-weight: bold;
  }

  &__link {
    text-decoration: none;
    display: block;
  }

  &__item {
    color: $color-black;

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }

  &__logo {
    height: 8rem;
    margin-bottom: 1rem;
  }

  &__main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
