.graveyard {
  .container {
    padding-top: 15rem;
    padding-bottom: 15rem;

    @include respond(xs) {
      padding-top: 10rem;
      padding-bottom: 10rem;
    }
  }

  .case {
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);

    &:not(:last-child) {
      margin-bottom: 5rem;

      @include respond(xs) {
        margin-bottom: 7rem;
      }
    }
  }
}
